{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/vendor/animate/animate.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
  
    <link rel="stylesheet" href="{% static 'assets/css/maicons.css' %}">
    
    <link rel="stylesheet" href="{% static 'assets/vendor/owl-carousel/css/owl.carousel.css' %}">
    
    <link rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    

    
    {% block css %}

    {% endblock %}
</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-lg navbar-light navbar-float">
            <div class="container">
              <a href="{% url 'home' %}" class="navbar-brand">De<span class="text-danger">Corozo.</span></a>
      
              <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
      
              <div class="navbar-collapse collapse" id="navbarContent">
                <ul class="navbar-nav ml-lg-4 pt-3 pt-lg-0">
                  <li class="nav-item active">
                    <a href="{% url 'home' %}" class="nav-link">Home</a>
                  </li>
                  {% if not user.is_authenticated %}
                  <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link">Login</a>
                  </li>
                  {% endif %}
                  {% if not user.is_authenticated %}
                  <li class="nav-item">
                    <a href="{% url 'register' %}" class="nav-link">Registro</a>
                  </li>
                  {% endif%}
                  <li class="nav-item">
                    <a href="{% url 'catalogo' %}" class="nav-link">Ver Productos</a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'producto' %}" class="nav-link">Agregar Un Producto</a>
                  </li>
                </ul>
      
                <div class="ml-auto">
                  <a href="#" class="btn btn-outline rounded-pill">Mi Carrito  <i class='bx bx-cart-add'></i></a>
                </div>

                {% if user.is_authenticated %}
                <div class="ml-auto">
                <a href="{% url 'logout' %}" class="btn btn-outline rounded-pill">Logout</a>
              </div>

                {% endif %}
              </div>
            </div>
          </nav>
    </header>


    {% block content %}

    {% endblock %}


    {% block script %}
    <script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>

    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  
    <script src="{% static 'assets/vendor/wow/wow.min.js' %}"></script>
  
    <script src="{% static 'assets/vendor/owl-carousel/js/owl.carousel.min.js' %}"></script>
  
    <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  
    <script src="{% static 'assets/vendor/animateNumber/jquery.animateNumber.min.js' %}"></script>
  
    <script src="{% static 'assets/js/google-maps.js' %}"></script>
  
    <script src="{% static 'assets/js/theme.js' %}"></script>
    {% endblock%}

</body>
</html>