{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Home {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    {% block css %}
    
    {% endblock %}
</head>
<body>
    <section class="contenido">
        <div class="container-fluid">
          <div class="row">
            
            <div class="col-md-6 section-login-1">
              <div class="row">
                <div class="col-md-12 d-flex justify-content-start">
                  <div>
                    <a href="{% url 'home' %}">
                      <i class='bx bx-arrow-to-left'></i>
                    </a>
                  </div>

                 
                </div>
              </div>
              <div>
                
                <p class="logo-anime">
                  <img src="{% static 'assets/img/logo-icon.png'%}"  alt="" /> De
                  <span class="logo-yabu">Corozo</span>
                </p>
              </div>
              <div class="logo">
                <img
                  class="logo-iniciar"
                  src="{% static 'assets/img/imagen.jpg'%}" 
                  alt="LOGO INICIAR"
                />
                <p class="texto-logo-iniciar">COROZO</p>
                <p class="texto-logo-segundario">¡Hola, te extrañamos!</p>
              </div>
    {% block content %}
        
    {% endblock %} 
</div>
<div class="col-md-6 section-login-2">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="personaje-div">
      <div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              class="personaje"
              src="{% static 'assets/img/personaje02.png' %}"
              alt="Personaje 1"
            />
          </div>
          <div class="carousel-item">
            <img
              class="personaje-1"
              src="{% static 'assets/img/personaje03.png' %}"
              alt="Personaje 2"
            />
          </div>
          <div class="carousel-item">
            <img
              class="personaje-2"
              src="{% static 'assets/img/personaje06.png' %}"
              alt="Personaje 3"
            />
          </div>
        </div>
      </div>
      <img
        class="circulo-personaje"
        src="{% static 'assets/img/circulo.png' %}"
        alt="Circulo - personaje"
      />
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="text-logo-principal">
          <p>
            De<span class="text-logo-principal-yabu">Corozo.</span>
          </p>
          <p class="parrafo-login">
            Con propiedades medicinales, como bebida nutritiva en caso
            de anemia y debilidad, tiene gran cantidad de
            antocianinas, ricos en vitamina A, C, y E!!!.
          </p>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="text-center">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</section>

{% block script %}

{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>