{% extends "html_base/base.html" %}
{% load static %}
{% block css %}

{% endblock %}

{% block content %}
<form  method = "post" >
        {% csrf_token %}
        <div class="page-section">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6 py-3">
                  <div class="img-fluid text-center">
                    <img src="{% static 'assets/img/Peligro.jpg' %}" alt="">
                  </div>
                </div>
                <div class="col-lg-6 py-3 pr-lg-5">
                  <h2 class="title-section">Esta Completamente <span class="text-danger">SEGURO!</span> Que desea elimiar este producto?</h2>
                  <div class="divider"></div>
                  <p>{{form.delete}} Marque aqui si confirma que quiere eliminar este producto.</p>
                  <input type="submit"  class="btn btn-danger" value="Delete">
                  <a href="{% url 'catalogo' %}" class="btn btn-outline border ml-2">Cancelar</a>                  
                </div>
              </div>
            </div> <!-- .container -->
          </div> <!-- .page-section -->
    
</form>


{% endblock %}