{% extends "html_base/header.html" %}

{% block content %}
<form  method = "post" enctype="multipart/form-data">
    <div>
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}
        </div>
    <input type="submit" value=Submit">
</form>
{% endblock %}