{% extends 'html_base/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/card.css' %}">
{% endblock %}

{% block content %}

    <div class="container mt-2 mb-5">
        <div class="row">

        {%for products in product %}
            {%if products.delete == False %}
            <div class="col-3">

            
        <div class="profile-card-4 text-center"><img src="{{products.image.url}}" class="img img-thumbnail">
            <div class="profile-content">
                <div class="profile-name">{{products.name}}
                  
                </div>
                <p class="text-center text-muted">Descripcion Del Producto</p>
                <div class="profile-description">{{products.description}}</div>
                
                    <div class="col-xs-4">
                        <div class="profile-overview">
                            <p>STOCK DISPONIBLE</p>
                                <h4>{{products.stock}}</h4></div>
                        </div>  
                    <div class="col-xs-4">
                        <div class="profile-overview">
                            <p>PRECIO</p>
                            <h4>{{products.price}}</h4></div>
                    </div>
                    <div>
                        {% if user.is_authenticated %}
                        <a href="{% url 'todelete' products.id_product %}" class="btn btn-danger mx-2">delete</a>
                        {% endif %}       
                    </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
        </div>
    </div>
    </div>
    

        

{% endblock %}
