{% extends "html_base/base_auth.html" %}
{% load static %}
{% block title %} Registro de productos {% endblock %}
{% block css %} 
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}"/>
{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.media}}
    
    
    <div class="row">

        <div class="col-md-12 formulario-imput">
            <div class="imput-text " id="natural" style="display:;">
                <br>
                <div class="col-md-4">
                    <label for="registro" class="form-label">Nombre*</label>
                    {{ form.name }}
                </div>
                <br>
                <div class="col-md-4">
                    <label for="registro" class="form-label">Descripción*</label>
                    {{ form.description }}
                </div>
                <br>
                <div class="col-md-4">
                    <label for="registro" class="form-label">Precio*</label>
                    {{ form.price }}
                </div>
                <br>
                <div class="col-md-4">
                    <label for="registro" class="form-label">Cantidad Disponible*</label>
                    {{ form.stock }}
                </div>
                <br>
                <div class="col-md-4">
                    <label for="registro" class="form-label">Iva del producto*</label>
                    {{ form.iva_product }}
                </div>
                <br>
                <div class="col-md-4">
                    <label for="registro" class="form-label">Imagen Del Producto*</label>
                    {{ form.image }}
                </div>
                <br>
                <div class="registro-productos">
                    <button type="submit" class="q-productos-morado">Registrar Producto

                    </button>
                </div>
            </div>
        </div>
    </div>
    
   


</form>
{% endblock %}


