{% extends 'html_base/base.html' %}
{% load static %}

{% block content %}
<div class="container">
        <div class="page-banner home-banner">
          <div class="container h-100">
            <div class="row align-items-center h-100">
              <div class="col-lg-6 py-3 wow fadeInUp">
                <h1 class="mb-4">Productos hechos a base de corozo</h1>
                <p class="text-lg mb-5">En el Caribe se elaboran jugos, chichas, vinos (si dejas fermentar el jugo). 
                    Además, una opción muy popular son los bolis (jugo congelado en bolsa). Otro de sus usos son salsas 
                    para acompañar mariscos y pescados, diversos dulces y, claramente, en el exquisito Licor Artesanal Guajiro Asawaa®.</p>
    
                <a href="{% url 'catalogo' %}" class="btn btn-outline border text-secondary"> Ver Productos</a>
                <a href="https://www.youtube.com/watch?v=xQj4R_znGrY" target="_blank" class="btn btn-primary btn-split ml-2">Watch Video <div class="fab"><span class="mai-play"></span></div></a>
              </div>
              <div class="col-lg-6 py-3 wow zoomIn">
                <div class="img-place">
                  <img src="{% static 'assets/img/corozo-kilo.jpg' %}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>

        

    

      <main>

        <div class="page-section counter-section">
            <div class="container">
              <div class="row align-items-center text-center">
                <div class="col-lg-4">
                  <p>Total Vendedores Afiliados</p>
                  <h2>$<span class="number" data-number="8625"></span></h2>
                </div>
                <div class="col-lg-4">
                  <p>Total Productos vendidos</p>
                  <h2>$<span class="number" data-number="2164225"></span></h2>
                </div>
                <div class="col-lg-4">
                  <p>Porcetaje De Satisfaccion</p>
                  <h2><span class="number" data-number="92"></span>%</h2>
                </div>
              </div>
            </div> <!-- .container -->
          </div> <!-- .page-section -->

        </main>

      
{% endblock %}