{% extends 'html_base/base_auth.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}"/>
{% endblock %}
{% block title %}Iniciar Sesión{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-12 formulario-imput">
            <div class="imput-text">
                <div class="col-md-4">
                    <label for="username" class="form-label">Usuario</label>
                    {{login_form.username}}
                </div>
                <br/>
                <div class="col-md-4">
                    <label for="password" class="form-label">Contraseña</label>
                    <div class="iconCheck">
                        {{login_form.password}}
                        <a onclick="mostrarPassword()" href="#pass"
                        ><i class="iconMostrar bx bx-show"></i
                        ></a>
                    </div>


                    <br>
                    <br>
                    <div>
                        <button class="btn btn-acceder" type="submit">Acceder</button>
                    </div>
                </div>
                {% include 'html_base/messages.html' %}
                <div class="q-register-div">
                    <p class="q-register">
                        Quieres registrarte?
                        <a href="{% url 'register'%}">
                            <span class="q-register-morado">
                              Registrate
                            </span> </a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
  {% block script %}
              <script>
                function mostrarPassword() {
                  var password = document.getElementById("password");
                  var icon = document.getElementsByClassName("iconMostrar")[0];
                  if (password.type === "password") {
                    password.type = "text";
                    icon.classList.remove("bx-show");
                    icon.classList.add("bx-hide");
                  } else {
                    password.type = "password";
                    icon.classList.add("bx-show");
                  }
                }

              </script>
              {% endblock %}

</body>
</html>