{% extends 'html_base/base_auth.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}"/>

{% endblock %}
{% block title %}Registrarse{% endblock %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <div class="row">

        <div class="col-md-12 formulario-imput">
            <div class="imput-text " id="natural" style="display:;">
                <br>
                <div class="col-md-4">
                    <label for="usuario" class="form-label">Usuario*</label>
                    {{ register_form.username }}
                </div>
                <br>
                <div class="col-md-4">
                    <label for="nombre" class="form-label">Nombre*</label>
                    {{ register_form.first_name }}
                </div>
                <br>
                <div class="col-md-4">
                    <label for="apellido" class="form-label">Apellido*</label>
                    {{ register_form.last_name }}
                </div>
                <br>
                <div class="col-md-4">
                    <label for="telefono" class="form-label">Teléfono</label>
                    {{ register_form.phone }}
                </div>
                <br>
                <div class="col-md-4">
                    <label for="ciudad" class="form-label">Ciudad</label>
                    {{ register_form.city }}
                </div>
                <br>
                <div class="col-md-4">
                    <label for="direccion" class="form-label">Dirección</label>
                    {{ register_form.adress }}
                </div>
                <br>
                <div class="col-md-4">
                    <label for="email" class="form-label">Email*</label>
                    {{ register_form.email }}
                </div>
                <br>
                <div class="col-md-4">
                    <label for="contraseña" class="form-label">Contraseña*</label>
                    <div class="iconCheck">
                        {{ register_form.password1 }}
                        <a onclick="mostrarPassword()" href="#pass"
                        ><i class="iconMostrar bx bx-show"></i
                        ></a>
                    </div>
                </div>
                <br>
                <div class="col-md-4">
                    <label for="confi-contraseña" class="form-label">Confirmar contraseña*</label>
                    <div class="iconCheck">
                        {{ register_form.password2 }}
                        <a onclick="mostrarPassword2()" href="#pass"
                        ><i class="iconMostrar2 bx bx-show"></i
                        ></a>
                    </div>
                    <button class="btn btn-register" type="submit">Registrar</button>

                </div>


                <div class="q-register-div">
                    <p class="q-register">Ya estás registrado?<span><a class="q-register-morado"
                    href="{% url 'login' %}">Acceder</a></span>
                    </p>
                </div>
            </div>

        </div>
    </div>
</form>

{% endblock %}

{% block script %}
<script>
    function mostrarPassword() {
        var password = document.getElementById("password");
        var icon = document.getElementsByClassName("iconMostrar")[0];
        if (password.type === "password") {
            password.type = "text";

            icon.classList.remove("bx-show");
            icon.classList.add("bx-hide");
        } else {
            password.type = "password";
            icon.classList.add("bx-show");
        }
    }

</script>

<script>
    function mostrarPassword2() {
        var password2 = document.getElementById("password2");
        var icon2 = document.getElementsByClassName("iconMostrar2")[0];
        if (password2.type === "password") {
            password2.type = "text";
            icon2.classList.remove("bx-show");
            icon2.classList.add("bx-hide");
        } else {
            password2.type = "password";
            icon2.classList.add("bx-show");
        }
    }

</script>
{% endblock %}
